@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

/* Custom ------------------------------------------ */

body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  border: 0px;
}

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-right {
  margin-right: 0px;
}

.navbar-nav > li >a {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ------------------------------------------------------ */


/* Main Title ------------------------------------------ */

.main-title {
  font-size: 40px;
  padding-top: 20px;
  padding-left: 20px;
  display: table;
}

.main-title > div {
  display: table-cell;
  vertical-align: middle;
}

.main-title a:link,
.main-title a:visited { 
  color: #555555 !important;
  font-size: 35px;
  text-decoration: none ;
  background: rgba(0, 0, 0, 0) !important;
}

/* ------------------------------------------------------ */

footer {
  height: 50px; 
  background-color: #f2f2f2;
  padding: 15px; 
  color: #555555;
}

/* asdfasdfasdf */

#navbar {
  border-bottom: 1px solid #9FA8DA !important;
}
#navbar a {
  font-size: 17px;
  color: white !important;
}

#navbar a:hover {
  background: rgba(159,168,218, 0.47) !important;
}

#navbar {
  background: #3F51B5;
  color: white !important;
  font-weight: bold;
}

/* 두번째 줄*/
.nav-container {
  background-color: white;
}

a {
  color: #555555 !important;
}

a.active {
  background: #5C6BC0 !important;
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  color: white;
  background: rgba(159,168,218, 0.45) !important;
  text-decoration: none !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover {
  color: white !important;;
  background: #5C6BC0;
}

#chapter-lsit {
  /*background: rgba(159,168,218, 0.47) !important;*/
}

#chapter-lsit a.active {
  background: rgba(159,168,218, 0.65) !important;
}

#chapter-lsit a:hover {
  background: rgba(159,168,218, 0.45) !important;
  color: white !important;
}


#side-menu a.active {
  background: rgba(159,168,218, 0.45) !important;
  color: white !important;
 }
